extends layout

block content


  .row

    .row
      h2#chartTitle Untitled
      p#chartDesc
      hr

    .panel.panel-primary
      .panel-heading
        span.small Options: &nbsp;
        #chartTypes.btn-group.btn-group-sm
          button#toJSON.btn.btn-primary(data-value='json') JSON
          button#toTable.btn.btn-primary(data-value='table') Table
          button#toLine.btn.btn-primary(data-value='line') Line
          //- button#toArea.btn.btn-primary(data-value='area') Area

        #dataset.btn-group.btn-group-sm
          .btn.btn-primary.dropdown-toggle(data-toggle='dropdown') Select a new data set &nbsp;
            span.caret
          ul.dropdown-menu
            li.active(data-value='distribution' tab-index='-1'): a(href='#') Data Distribution
            li(data-value='units_by_country_and_event' tab-index='-1'): a(href='#') Units by Event

        #pivot.btn-group.btn-group-sm
          .btn.btn-primary.dropdown-toggle(data-toggle='dropdown') Pivot Out &nbsp;
            span.caret
          ul.dropdown-menu

      .panel-body
        #canvas

  script
    var table = !{tableObj};
    var tables = [];
    for(var i=0;i<Object.keys(table).length;i++){ tables.push(Object.keys(table)[i]) };
    var currentTable = tables[0];
    var currentType = table[currentTable].chartType;

    $('#chartTitle').html(table[currentTable].title);
    $('#chartDesc').html(table[currentTable].description);
    $('[data-value="' + currentType + '"]').addClass('active');

    draw(table[currentTable].rows, currentType);
    addColumnsToPivotBtn();

    // new chart type
    $('#chartTypes .btn').click(function(){ 
      currentType = $(this).attr('data-value');
      draw(table[currentTable].rows, currentType);
      $('.btn').not(this).removeClass('active'); 
      $(this).addClass('active'); 
    });

    // new data set
    $('#dataset li').click(function(){
      currentTable = $(this).attr('data-value');
      currentType  = table[currentTable].chartType;
      draw(table[currentTable].rows, currentType);
      $('li').not(this).removeClass('active');
      $(this).addClass('active');
      $('#chartTitle').html(table[currentTable].title);
      $('#chartDesc').html(table[currentTable].description);
      addColumnsToPivotBtn();
      });

    // pivot
    $('#pivot li').click(function(){
      console.log('Clicked: '+ $(this).attr('data-pivot'));
      pivotOut($(this).attr('data-pivot'));
      })

    function addColumnsToPivotBtn(){
      $('#pivot ul').empty();
      $('th').each(function(i,d){
        $('#pivot ul').append('<li data-pivot="'+ $(this).html() +'"><a href="#">'+ $(this).html() +'</a></li>');
      });
      $('th').each(function(i){
        $(this).css('textTransform', 'capitalize');
      });
    };
