extends layout

block content

  hr
  .row
    h2#chartTitle Etch-a-Sketch!
    p#chartDesc Trying things out. You can always shake it.
    #clickMe.btn.btn-link Click Me
    hr
    #canvas

  script
    $('#clickMe').click(function(){ first(); })

    var data = [1];
    var radius = 30;

    var canvas_x = $('#canvas').width();
    var canvas_y = $(window).height() - 250;

    var canvas = d3.select('#canvas').append('svg')
      .attr('height', canvas_y)
      .attr('width', canvas_x)
      .style('background-color', 'lightblue');

    var draw = function(data){

      var g = canvas.selectAll('g')
        .data([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17])
        .enter()
        .append('g')
        .attr('transform', function(d){ return 'translate('+ d * radius * 2 +',0)'; });

      var circle = g.selectAll('circle')
        .data(data)
        .enter()
        .append('circle')
        .attr('cx', -100)
        .attr('cy', 100)
        .attr('r', radius)
        .style('fill', 'none')
        .style('stroke', 'black')
        .style('stroke-width', 3);

      data = [2];

      circle.data(data)
        .transition()
        .duration(1000)
        .ease('linear')
        .attr('cx', function(d){ return (radius * 2 - 100) ;})
        .each('end', function(){ redraw([1]); });
      };


    var redraw = function(data){

      var g = canvas.selectAll('g')

      var circle = g.selectAll('circle')
        .data(data)
        .attr('cx', -100)

        data = [2];

      circle.data(data)
        .transition()
        .duration(1000)
        .ease('linear')
        .attr('cx', function(d){ return (radius * 2 - 100) ;})
        .each('end', function(){ redraw([1]); });
      }

      draw([1]);

    //- var first = function(){

    //-   data.unshift(d3.min(data)-1);
    //-   //- data.pop();

    //-   var g = canvas.selectAll('g')
    //-     .data(data);

    //-   g.transition()
    //-     .duration(1000)
    //-     .attr('transform', function(d,i){ return 'translate('+ (200 + radius * d * 2) +',100)' })
    //-     .each('end', function(){ first(); });

    //-   g.data(data)
    //-     .enter()
    //-     .append('g')
    //-     .attr('transform', function(d,i){ return 'translate('+ (200 + radius * d * 2) +',100)' })
    //-       .append('circle')
    //-       .attr('r', radius)
    //-       .style('stroke', 'black')
    //-       .style('fill', 'none');

    //-   g.exit().remove();


    //- }


  

