extends layout

block content
  .container
    #expand.btn.btn-link.pull-right Toggle Sidebar
    #filter.dropdown.btn.btn-link.pull-right
      a#drop(role='button' data-toggle='dropdown' href='#') Filter
        b.caret
      ul.dropdown-menu(role='menu' aria-labelledby='drop')
        li(role='presentation') Group1
          a(role='menuitem' tabindex='-1' href='#') Item1
          a(role='menuitem' tabindex='-1' href='#') Item2
        li.divider(role='presentation')
        li(role='presentation') Group2
          a(role='menuitem' tabindex='-1' href='#') Item1
          a(role='menuitem' tabindex='-1' href='#') Item2

    .row
      h1 jonathan<small>.</small>schoonhoven<small>.</small>me
      p A personal website and sandbox for Node + Express + D3
      hr
    .row
      #sidebar.col-sm-3
        ul.nav.nav-pills.nav-stacked
          li(data-value='zero_dimension').active: a(href='#') 0th Dimension
          li(data-value='first_dimension'): a(href='#') 1st Dimension
          li(data-value='second_dimension'): a(href='#') 2nd Dimension
          li(data-value='third_dimension'): a(href='#') 3rd Dimension
      #content.col-sm-9
        #chartTypes.btn-group.btn-group-sm
          #toJSON.btn.btn-link(data-value='json') JSON
          #toDotMatrix.btn.btn-link(data-value='dotMatrix') Dot Matrix
          #toTable.btn.btn-link.active(data-value='table') Table
        p#charTitle.lead
        p#chartDesc Description Goes Here
        #canvas
      hr
  script

    var table = !{tableObj};
    var tables = [];
    for(var i=0;i<Object.keys(table).length;i++){ tables.push(Object.keys(table)[i]) };
    var currentTable = tables[0];
    var currentType = 'table';

    // set chart title in html
    $('#charTitle').html(table[currentTable].title);
    $('#chartDesc').html(table[currentTable].description);

    draw(table[currentTable].rows, currentType);

    // filter button
    $('.dropdown-toggle').dropdown()

    // new chart type
    $('#chartTypes .btn').click(function(){ 
      currentType = $(this).attr('data-value');
      draw(table[currentTable].rows, currentType);
      $('.btn').not(this).removeClass('active'); 
      $(this).addClass('active'); 
    });

    // new data set
    $('#sidebar li').click(function(){
      currentTable = $(this).attr('data-value');
      draw(table[currentTable].rows, currentType);
      $('li').not(this).removeClass('active');
      $(this).addClass('active');
      $('#charTitle').html(table[currentTable].title);
      $('#chartDesc').html(table[currentTable].description);
      })
    
    // toggle widescreen
    $('#expand').click(function(){ 
      $('#sidebar').toggleClass('hidden'); 
      $('#content').toggleClass('col-sm-9');
      $('#content').toggleClass('col-sm-12');
      $(this).toggleClass('active'); 
    });

