extends layout

block content


  .row.panel.panel-primary
    .panel-heading

    .panel-body
      h2: strong ¡Hola, Mundo!
      p This website is a sandbox in which I frolic and frame my ideas. Right now I am hard at work building <a href='/chart-maker'>Chart Maker</a> (working title), a general-purpose charting library in D3. If you were hoping for something a bit more polished than that then please find me on <a class='label label-info' href='http://www.linkedin.com/in/jtschoonhoven'>LinkedIn</a> or <a class='label label-warning' href='https://github.com/jtschoonhoven'>Github</a>. Or, if you absolutely insist on using Twitter, you may tweet me <a class='label label-primary' href='http://twitter.com/thejonts'>@thejonts</a>.
