doctype 5
html(ng-app)
  head
    title Jonathan Schoonhoven: The Website
    link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/style.css")

    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")    
    script(type='text/javascript', src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
    script(type='text/javascript', src="/javascripts/chart_maker.js")

  body
    .container(style="float:left; width:100%;")
      .row
        #menu.col-xl-3.col-lg-6.col-md-9.col-sm-12.col-xs-12(style="box-shadow: 1px 1px 2px 1px #ccc; background-image:url('/images/transparencies/white_90.png');")

          .row.col-xs-12
            h1 jonathan<small style="letter-spacing:-4px">. </small>schoonhoven<small style="letter-spacing:-4px">. </small>me
              .small A personal website and sandbox for Node + D3 + Angular

          .row.col-xs-12
            .colorbars
              .colorbar.color1.col-xs-4: hr
              .colorbar.color2.col-xs-4: hr
              .colorbar.color3.col-xs-4: hr

          .row.col-xs-12
            ul.nav.navbar-nav
              li: a(href='/') Home
              li: a(href='/phyllotaxis') Disk Phyllotaxis
              li: a(href='/pascal') Pascal
              //- li: a(href='/chart-maker') Chart Maker
              //- li: a(href='/waves') Waves
    
          block content

    