extends layout

block content

  .row
    form.form-inline(ng-controller="PhyllotaxisCtrl")
      .form-group.col-xs-4
        label Seedlings:
        input.input-sm.form-control(type="number" ng-model="seeds" value="{{ seeds }}")

      .form-group.col-xs-4
        label Density:
        input.input-sm.form-control(type="number" ng-model="density" value="{{ density }}")

      .form-group.col-xs-4
        label Radii:
        input.input-sm.form-control(type="number" ng-model="radii" value="{{ radii }}")
    
  hr
  h2#chartTitle Disk Phyllotaxis
  p#chartDesc 
    a(href="http://en.wikipedia.org/wiki/Phyllotaxis") Disk Phyllotaxis 
    | is the pattern in which seeds are arranged around the face of a sunflower.
    | It is related to the golden ratio and described mathematically by 
    a(href="http://en.wikipedia.org/wiki/Fermat's_spiral") Fermat's Spiral. 
    | More importantly, the pattern can be manipulated into psychedelic patterns
    | using the controls below.


  script.
  
    function PhyllotaxisCtrl($scope) {

      // options
      $scope.seeds   = 80;
      $scope.density = 40;
      $scope.radii   = 2;

      function draw(){

        // dimensions
        var canvas_w = $("body").width();
        var canvas_h = ($(window).height()) > 500 ? ($(window).height()) : 500;
        var margin = {top: 10, right: 10, bottom: 10, left: 10}

        // variables
        var s = Math.abs($scope.seeds);
        var d = $scope.density;
        var r = Math.abs($scope.radii);
        var a = 137.508;

        var data = new Array(s);

        var canvas = d3.select("body");

        var svg = canvas.selectAll("svg").data([1]);
        svg.enter().insert("svg", ":first-child");
        svg.attr("width", function(){ return canvas_w; })
          .attr("height", canvas_h)
          .style("position", "absolute")
          .style("z-index", -1);

        var group = svg.selectAll("g").data([1]);
        group.enter().append("g");
        group.attr("transform", function(){ return "translate(" +canvas_w/2+ "," +canvas_h/2+ ")"; });

        var circles = group.selectAll("circle").data(data);
        circles.enter().append("circle");
        circles.attr("cx", function(_,i){ return d*Math.sqrt(i); })
          .attr("cy", 0)
          .attr("r", r)
          .attr("transform", function(_,i){ return "rotate(" +(a*i)+ ")"; })
          .style("fill", "#428BCA")
          .style("fill-opacity", 0.05)
          .style("stroke-width", 2)
          .style("stroke", "black")
        circles.exit().remove();

      };

      // draw immediately, on resize, and on option change
      draw();
      $(window).resize(function(){ draw(); });
      $scope.$watchCollection('[seeds, density, radii]', function(){ draw(); });

    }

       