body {
  background-color: #FCFCFC;
  color: #222;
  padding: 0 0 30px 0;}

h1 {
  font-size: 3em;
  font-weight: 300;
  color: #111;}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  color: #111;
  margin: 10px 0 0 0;}

h1 .small {
  font-size: .5em;
  padding: 5px 0;
  margin: 0;}

p {
  font-size: 1.2em;
  padding: 10px 0 10px 0;}

.navbar-nav li a {
  padding: 10px 20px 10px 20px;}

.row {
  margin: 5px 0;}

.btn,
.btn.active, 
.btn:hover {
  color:#FFF;
  border: solid 1px #71B0E4;}

hr {
  margin: 5px 0 0px 0;
  padding: 0;}

.color1 hr { 
  border-top: 2px solid #428CCA;}

.color2 hr { 
  border-top: 2px solid #FFD247;}

.color3 hr { 
  border-top: 2px solid #FF7E47;}

.color4 hr { 
  border-top: 3px solid #666;}

.color5 hr { 
  border-top: 3px solid #999;}

.color6 hr { 
  border-top: 3px solid #BBB;}

.colorbar {
  margin: 0;
  padding: 0;}

.panel {
  border:none;
  background-color: #FDFDFD;}

.panel-heading{
  border: solid 2px #428BCA;
  /*border: none;*/
  color: #FFF;
  background-color: #428BCA;
  padding: 5px 5px 5px 10px;
  margin-bottom: 0;}

.panel-body{
  padding:0;
  border:none;}

#chartTitle,
#chartDesc {
  padding: 10px 20px 0 20px;}

#canvas {
  overflow: scroll;}

table thead th {
  background-color: #71b0e4;
  border: none;
  color: #FFF;}

/* line chart styles */

.lines path {
  fill: none;
  stroke: #155183;
  stroke-width: 1.5px;}

.axis path{
  fill: none;
  stroke: #155183;}

.axis line {
  fill: none;
  stroke: #155183;}

.axis text {
  font-family: sans-serif;
  fill: #155183;
  font-size: 1em;}

/* json formatting */
pre {
  outline: 1px solid #ccc; 
  padding: 5px; 
  margin: 5px; }

.string { 
  color: #276BA4; }

.number { 
  color: #22A872; }

.boolean { 
  color: #428CCA; }

.key { color: #CF892A; }

/* waves styles */
.waveUnit {
  fill: black;
  stroke: black;
}

